In [4]:
import pandas as pd

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, insert, text

In [5]:
# From Heroku credentials
username = "wnpdgutwqozkwm"
password = '490a8dd6d0a3f6a6c381300a185b23a3c3329d3bacc1d3717a5bf68e7351cd90'

Base = automap_base()

engine = create_engine(f'postgres://{username}:{password}@ec2-3-211-37-117.compute-1.amazonaws.com:5432/d4rg5ld0gedobs')

Base.prepare(engine, reflect=True)

In [6]:
conn = engine.connect()

In [15]:
import datetime

In [25]:
year = datetime.date.today().year
cntry = 'Mexico'
frdm = 1
govt_trust = 1
generosity = 1
howhapp = 10

# no column specification needed if all columns are inserted
stmt = f"INSERT INTO feed_the_machine VALUES ('{cntry}', {frdm}, {govt_trust}, {generosity}, {year}, {howhapp});"

print(stmt)

conn.execute(stmt)

INSERT INTO feed_the_machine VALUES ('Mexico', 1, 1, 1, 2021, 10);